@use "@/styles/variables";

.container {
  display: grid;
  grid-template-columns: 1fr 45%;
  gap: 2rem;

  @include variables.mq("lg") {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    place-items: start center;
  }
}

.left {
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;

  & .tagLink {
    background-color: var(--cmm-color-primary-0);
    color: var(--cmm-color-primary-6);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    width: fit-content;
    font-weight: var(--cmm-font-weight-medium);
    font-size: var(--cmm-font-size-sm);
    line-height: 2;
    padding-left: 1rem;
    padding-right: 0.75rem;
    border-radius: var(--cmm-radius-full);

    &:hover {
      & > svg {
        translate: 0.25rem;
      }
    }

    & > svg {
      width: 1.2rem;
      height: 1.2rem;
      transition: translate 0.3s;
      transform: translateY(-0.05rem);
    }
  }

  & .mainCopy {
    font-size: var(--cmm-font-size-6xl);
    font-weight: var(--cmm-font-weight-extrabold);
    line-height: 1.2;

    @include variables.mq("md") {
      font-size: var(--cmm-font-size-4xl);
    }
  }

  & .subCopy {
    max-width: 30rem;
    color: var(--cmm-color-neutral-5);
  }

  & .ctas {
    display: flex;
    column-gap: 1.5rem;
    row-gap: 1rem;
    width: fit-content;

    @include variables.mq("sm") {
      flex-direction: column;
      width: unset;
    }
  }

  & .stats {
    margin-top: 1rem;
  }
}

.heroImage {
  position: relative;
  place-self: center;
  width: 100%;
  // Specify the size of image or use static import of Next.js
  aspect-ratio: 1144 / 976;

  img {
    object-fit: contain;
  }

  @include variables.mq("lg") {
    max-height: 30rem;
  }
}
