%Block {
  color: var(--cmm-color-primary-5);
  transition-duration: var(--cmm-transition-duration-normal);
  transition-property: var(--cmm-transition-property-colors);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;

  &:hover {
    color: var(--cmm-color-primary-7);
  }
}

.--xs {
  @extend %Block;
  font-size: var(--cmm-font-size-xs);
}

.--sm {
  @extend %Block;
  font-size: var(--cmm-font-size-sm);
}

.--md {
  @extend %Block;
  font-size: var(--cmm-font-size-md);
}

.--lg {
  @extend %Block;
  font-size: var(--cmm-font-size-lg);
}

.arrow {
  width: 1rem;
  height: 1rem;
}
