@use "@/styles/variables";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
}

.item {
  display: grid;
  grid-template-areas:
    "icon title"
    "description description";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.75rem;
  border: 1px solid var(--cmm-color-border-subtle);
  border-radius: var(--cmm-radius-2xl);
  padding: 1.5rem;
  position: relative;
  transition: transform 0.3s;
  background: var(--cmm-color-surface-0);

  &__icon {
    grid-area: icon;
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--cmm-color-border-base);
    border-radius: var(--cmm-radius-xl);
    background: var(--cmm-color-surface-2);
    color: var(--cmm-color-font-muted);

    svg {
      width: 1.2rem;
      height: 1.2rem;
      stroke-width: 1.8;
    }
  }

  &__title {
    grid-area: title;
    place-self: center start;
    font-size: var(--cmm-font-size-md);
    font-weight: var(--cmm-font-weight-bold);
    line-height: 1.2;
  }

  &__description {
    grid-area: description;
    font-size: calc(var(--cmm-font-size-md) * 0.9);
    color: var(--cmm-color-font-subtle);
    line-height: 1.5;
    flex: 1;
  }
}
