.Block {
  display: grid;
  row-gap: 0.75rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  font-size: var(--cmm-font-size-sm);
  font-weight: var(--cmm-font-weight-semibold);

  > svg {
    width: 1rem;
    height: 1rem;
    color: var(--cmm-color-primary-emphasis);
  }
}

.list {
  display: flex;
  flex-direction: column;
  color: var(--cmm-color-font-muted);
  border-left: 2px solid var(--cmm-color-border-base);
}

.item {
  display: flex;
  padding: 0.25rem 0;
  padding-left: 1rem;
  font-size: var(--cmm-font-size-sm);

  &:hover:not(.active) {
    background: var(--cmm-color-surface-1);
  }
}

.indent {
  padding-left: 2rem;
}

.active {
  background-color: var(--cmm-color-primary-subtle);
  color: var(--cmm-color-primary-font);
  position: relative;
  border-left: 2px solid var(--cmm-color-primary-emphasis);
  margin-left: -2px;
}
