$borderColor: var(--cmm-color-border-base);

.container {
  width: 100%;
  border-collapse: collapse;
  background: var(--cmm-color-surface-0);

  :where(th, td) {
    padding: 1.25rem;
    background-color: var(--cmm-color-surface-0);
  }

  :where(th) {
    font-size: var(--cmm-font-size-2xl);
  }

  :where(td) {
    font-size: var(--cmm-font-size-lg);
    font-weight: var(--cmm-font-weight-semibold);
    border: 1px solid $borderColor;
  }

  :where(th:nth-child(odd), td:nth-child(odd)) {
    background-color: var(--cmm-color-surface-0);
  }
}

.featureListTh {
  text-align: start;
  font-size: var(--cmm-font-size-2xl);
  font-weight: var(--cmm-font-weight-extrabold);
}

.topHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  // Workaround for weird behavior of border around sticky header.
  box-shadow: inset 0 -1px $borderColor, inset 1px 1px $borderColor;

  &:last-child {
    box-shadow: inset -1px -1px $borderColor, inset 1px 1px $borderColor;
  }
}

.section {
  background-color: var(--cmm-color-neutral-emphasis);
  color: var(--cmm-color-font-on-emphasis);
  font-size: var(--cmm-font-size-xl);
  font-weight: var(--cmm-font-weight-semibold);
}

.planCell {
  display: grid;
  row-gap: 1rem;

  &__name {
    font-size: var(--cmm-font-size-xl);
  }

  &__priceValue {
    font-size: var(--cmm-font-size-2xl);
    font-weight: var(--cmm-font-weight-extrabold);
  }

  &__pricePeriod {
    font-size: var(--cmm-font-size-lg);
    color: var(--cmm-color-neutral-5);
  }
}

.featureCell {
  display: grid;
  place-content: center;
}

.check {
  width: 1.25rem;
  height: 1.25rem;
  color: #38a169;
}
