@use "@/styles/variables.scss";

.hero {
  padding-bottom: 2rem;
  background: linear-gradient(
    to bottom,
    hsla(220 100% 80% / 0.15),
    hsla(220 100% 80% / 0.1),
    transparent
  );

  &__container {
    padding-top: 2rem;
    display: grid;
    row-gap: 1rem;
  }
}

.screenshot {
  @include variables.container(variables.$lg);
  margin-top: 2rem;
}

.steps {
  display: grid;
  margin-top: 3.5rem;
  row-gap: 3.5rem;
}

.feature1 {
  padding-top: 6rem;

  img {
    border: 1px solid var(--cmm-color-border-base);
    border-radius: var(--cmm-radius-2xl);
    overflow: hidden;
  }
}

.feature2 {
  padding-top: 6rem;
  padding-bottom: 3rem;

  img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}

.moreFeatures {
  margin-top: 3rem;
}

.logoCloud {
  margin-top: 1rem;
}
