@use "@/styles/variables.scss";

.hero {
  padding-bottom: 2rem;
  background: linear-gradient(
    to bottom,
    hsla(220 100% 80% / 0.15),
    hsla(220 100% 80% / 0.1),
    transparent
  );

  &__container {
    @include variables.container;

    padding-top: 2rem;
    display: grid;
    row-gap: 1rem;
  }
}

.steps {
  display: grid;
  margin-top: 3.5rem;
  row-gap: 3.5rem;
}

.features {
  margin-top: 3rem;
}

.logoCloud {
  margin-top: 1rem;
}
