@use "@/styles/variables";

.container {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background: var(--cmm-color-surface-2);
}

.inner {
  @include variables.container;

  display: grid;
  place-items: center;
  row-gap: 2rem;
}

.hgroup {
  text-align: center;

  p {
    font-weight: var(--cmm-font-weight-extrabold);
    font-size: var(--cmm-font-size-4xl);
  }

  h1 {
    font-size: var(--cmm-font-size-md);
    color: var(--cmm-color-font-muted);
  }
}
.sub {
  text-align: center;
  margin-top: 0.5rem;

  a {
    color: var(--cmm-color-link);
    font-weight: var(--cmm-font-weight-semibold);

    &:hover {
      text-decoration: underline;
    }
  }
}

.terms {
  font-size: var(--cmm-font-size-xs);
  margin-top: -1rem;
  text-align: center;
  color: var(--cmm-color-font-base);

  a {
    text-decoration: underline;
  }
}
