:root {
  --logo-fill: var(--cmm-color-primary-6);
  --logo-stroke: white;
}

hr {
  border-color: var(--cmm-color-border-base);
}

.hash-link {
  opacity: 0;
  transition: opacity 0.3s;
  user-select: none;
  padding-left: 0.5rem;

  .icon::after {
    content: "#";
    width: 2rem;
    height: 2rem;
  }

  .Markup :where(h1, h2, h3, h4):hover & {
    opacity: 1;
  }
}

[data-rehype-pretty-code-fragment] {
  pre {
    padding: 1rem 0;
    border-radius: var(--cmm-radius-lg);
    font-size: var(--cmm-font-size-sm);
    background: var(--cmm-color-neutral-8);
  }

  code {
    font-family: var(--cmm-font-family-code);
    display: grid;
    overflow: auto;
  }

  .line {
    padding: 0 1rem;
    border-left: 3px solid transparent;
    line-height: 1.8;

    &.highlighted {
      background: rgba(200, 200, 255, 0.1);
      border-left-color: var(--cmm-color-primary-4);
    }
  }
}

[data-rehype-pretty-code-title] {
  margin-top: 2rem;
  border-top-left-radius: var(--cmm-radius-lg);
  border-top-right-radius: var(--cmm-radius-lg);
  background: var(--cmm-color-neutral-7);
  color: var(--cmm-color-white);
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: var(--cmm-font-size-xs);
  font-family: var(--cmm-font-family-code);

  + pre {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  + .code-block pre > code {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
