@use "@/styles/variables";

.container {
  background: var(--cmm-color-surface-1);
  padding-top: 4rem;
  padding-bottom: 6rem;
  display: grid;
  place-items: center;
}

.logo {
  height: 5rem;
  width: auto;
}

.text {
  @include variables.container(38rem);

  margin-top: 1rem;
  text-align: center;

  * + * {
    margin-top: 1rem;
  }
}

.title {
  font-size: var(--cmm-font-size-4xl);
  font-weight: var(--cmm-font-weight-bold);
  line-height: 1.1;
}

.description {
  font-size: var(--cmm-font-size-lg);
}

.newsletter {
  margin: 0 auto;
  margin-top: 2rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;

  @include variables.mq(sm) {
    padding: 0 1rem;
    flex-direction: column;
    gap: 1rem;
    place-self: stretch;
  }
}

.logoCloud {
  margin-top: 3rem;
}
