.Block {
  display: grid;
  place-content: center;
  color: var(--cmm-color-font-base);
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-radius-md);
  width: 100%;
  height: 2.5rem;
  background: var(--cmm-color-surface-0);

  &:hover {
    background-color: var(--cmm-color-surface-1);
  }

  [data-theme="dark"] & {
    background: var(--cmm-color-surface-1);

    &:hover {
      background-color: var(--cmm-color-surface-2);
    }
  }

  & > svg {
    width: 1rem;
    height: 1rem;
  }
}
