.Block {
  display: inline-block;
  padding: 0.75rem;
  transition-property: var(--cmm-transition-property-colors);
  transition-duration: var(--cmm-transition-duration-normal);
  border-radius: var(--cmm-radius-full);

  &:hover {
    .icon {
      color: var(--cmm-color-font-base);
    }
  }
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
  color: var(--cmm-color-font-subtle);
  transition: color 0.3s;
}
