@use "@/styles/variables";

.container {
  @include variables.container();

  padding-top: 0.5rem;
  padding-bottom: 4rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
}

.tag {
  display: inline-flex;
  align-items: baseline;
  column-gap: 0.25rem;
  padding: 0.25rem 1rem;
  background-color: var(--cmm-color-white);
  border-radius: var(--cmm-radius-full);
  border: 1px solid var(--cmm-color-neutral-2);
  font-weight: var(--cmm-font-weight-semibold);
  color: var(--cmm-color-primary-6);
  transition: var(--cmm-transition-bg);

  &:hover {
    background-color: var(--cmm-color-neutral-1);
  }
}

.count {
  font-size: var(--cmm-font-size-sm);
  font-weight: var(--cmm-font-weight-normal);
}
