@use "@/styles/variables";

.Block {
  border-bottom: 1px solid var(--cmm-color-border-base);
  height: variables.$headerHeight;
  z-index: 50;
}

.inner {
  @include variables.container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.leftSection {
  display: flex;
  align-items: center;
  column-gap: 2rem;

  @include variables.mq("md") {
    column-gap: 0.5rem;
  }
}

.rightSection {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  :global {
    .Button {
      font-weight: var(--cmm-font-weight-bold);
    }
  }
}

.logo {
  margin-bottom: 0.15rem;

  @include variables.mq("md") {
    margin-bottom: 0;
    & > svg {
      width: 5rem;
    }
  }

  svg {
    height: 2.25rem;
    width: auto;
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;

  .list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .link {
    font-size: var(--cmm-font-size-sm);
    font-weight: var(--cmm-font-weight-bold);
    display: inline-block;
    line-height: 2rem;
    border-radius: var(--cmm-radius-md);
    padding: 0 0.5rem;

    &:hover {
      background: var(--cmm-color-surface-2);
    }
  }
}

// FIXME
.menuOpenBtn {
  display: none !important;
  margin-inline-start: -0.5rem;

  @include variables.mq("md") {
    display: grid !important;
  }
}

.menuCloseBtn {
  margin-inline-start: -0.5rem;
}

.menu {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0 0 0.75rem 0;
  margin: 0;
  overflow-y: auto;
  border: none;
  scrollbar-width: none;
  left: 0;
  background: var(--cmm-color-surface-0);

  &::-webkit-scrollbar {
    display: none;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.85);
  }

  &__header {
    position: sticky;
    top: 0;
    height: variables.$headerHeight;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--cmm-color-surface-0);
    z-index: 10;
    border-bottom: 1px solid var(--cmm-color-border-base);
  }

  &__content {
    margin-top: 0.5rem;
  }
}

.navMobile {
  padding: 0 0.5rem;
  display: none !important;

  &__buttonList {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 1rem 0;
  }

  &__button {
    border-radius: var(--cmm-radius-md) !important;
    width: 100% !important;
  }

  @include variables.mq("md") {
    display: block !important;
  }
}

.desktopOnly {
  @include variables.mq("md") {
    display: none !important;
  }
}
