@use "@/styles/variables";

.container {
  @include variables.container();

  display: grid;
  grid-template-columns: variables.$md 1fr;
  justify-content: center;
  column-gap: 3rem;
  padding-top: 1rem;
  padding-bottom: 4rem;

  @include variables.mq("xl") {
    grid-template-columns: variables.$md;
  }

  @include variables.mq("lg") {
    grid-template-columns: 1fr;
  }
}

.tocWrap {
  @include variables.mq("lg") {
    display: none;
  }
}

.toc {
  position: sticky;
  top: 1rem;
  max-width: 18rem;
}

.main {
  overflow-x: hidden;
}

.header {
  padding: 2rem 0;
  border-bottom: 1px solid var(--cmm-color-neutral-2);
  margin-bottom: 3rem;
  display: grid;
  row-gap: 1.25rem;

  .title {
    font-weight: var(--cmm-font-weight-extrabold);
    font-size: var(--cmm-font-size-5xl);
    line-height: 1.2;

    @include variables.mq("lg") {
      font-size: var(--cmm-font-size-4xl);
    }
  }

  .date {
    display: grid;
    row-gap: 0.25rem;

    &__published {
      display: block;
      font-size: var(--cmm-font-size-md);
    }

    &__lastmod {
      display: block;
      font-size: var(--cmm-font-size-sm);
    }
  }

  .author {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__name {
      font-size: var(--cmm-font-size-md);
      font-weight: var(--cmm-font-weight-medium);
    }
  }
}

.aside {
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-top: 1px solid var(--cmm-color-neutral-2);
}

.tagList {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.backButtonIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.2rem;
  transform: translateY(0.05rem);
}

.newsletter {
  width: 100% !important;
}
