@use "@/styles/variables";

.container {
  @include variables.container(variables.$lg);

  display: grid;
  grid-template-columns: variables.$md 1fr;
  justify-content: center;
  column-gap: 3rem;
  padding-top: 1rem;
  padding-bottom: 4rem;

  @include variables.mq("xl") {
    grid-template-columns: variables.$md;
  }

  @include variables.mq("lg") {
    grid-template-columns: 1fr;
  }
}

.tocWrap {
  @include variables.mq("lg") {
    display: none;
  }
}

.toc {
  position: sticky;
  top: 1rem;
  max-width: 18rem;
}

.main {
  overflow-x: hidden;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--cmm-color-neutral-2);
  margin-bottom: 3rem;
  display: grid;
  row-gap: 1rem;

  .title {
    font-weight: var(--cmm-font-weight-bold);
    font-size: var(--cmm-font-size-5xl);
    line-height: 1.1;

    @include variables.mq("lg") {
      font-size: var(--cmm-font-size-4xl);
    }
  }

  .date {
    display: grid;
    row-gap: 0.25rem;
    font-size: var(--cmm-font-size-sm);
    font-weight: var(--cmm-font-weight-medium);

    &__published {
      display: block;
    }
  }

  .author {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "avatar name"
      "avatar title";
    column-gap: 0.5rem;
    place-items: center start;
    width: fit-content;
    font-size: var(--cmm-font-size-sm);

    :global(.Avatar) {
      grid-area: avatar;
      --cmm-Avatar-size: 2.5rem;
    }

    &__name {
      grid-area: name;
      font-weight: var(--cmm-font-weight-semibold);
    }

    &__title {
      grid-area: title;
      color: var(--cmm-color-font-subtle);
    }
  }
}

.aside {
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-top: 1px solid var(--cmm-color-neutral-2);
}

.tagList {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.backButtonIcon {
  width: 1em;
  height: 1em;
  stroke-width: 2.8;
}

.newsletter {
  width: 100% !important;
}
