@use "@/styles/variables";

.container {
  @include variables.container(variables.$md);

  display: grid;
  column-gap: 3rem;
  padding-bottom: 4rem;

  @include variables.mq("xl") {
    grid-template-columns: variables.$md;
  }

  @include variables.mq("lg") {
    grid-template-columns: 1fr;
  }
}

.header {
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--cmm-color-border-base);
  margin-bottom: 3rem;
  display: grid;
  row-gap: 1.5rem;

  .title {
    font-weight: var(--cmm-font-weight-bold);
    font-size: var(--cmm-font-size-5xl);
    line-height: 1.1;

    @include variables.mq("lg") {
      font-size: var(--cmm-font-size-4xl);
    }
  }

  .meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  .date {
    font-size: var(--cmm-font-size-md);
    font-weight: var(--cmm-font-weight-medium);
    color: var(--cmm-color-font-subtle);
  }

  .author {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "avatar name"
      "avatar title";
    column-gap: 0.5rem;
    place-items: center start;
    width: fit-content;
    font-size: var(--cmm-font-size-sm);

    :global(.Avatar) {
      grid-area: avatar;
      --cmm-Avatar-size: 2.5rem;
    }

    &__name {
      grid-area: name;
      font-weight: var(--cmm-font-weight-semibold);
    }

    &__title {
      grid-area: title;
    }
  }
}

.thumbImgWrap {
  position: relative;
  aspect-ratio: 2 / 1;
  border-radius: var(--cmm-radius-2xl);
  overflow: hidden;

  > img {
    object-fit: cover;
  }
}

.aside {
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-top: 1px solid var(--cmm-color-border-base);
}

.tagList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    font-weight: var(--cmm-font-weight-semibold);
  }
}

.backButton {
  place-self: start;
  padding: 0;

  &:hover {
    background: unset;
    text-decoration: underline;
  }

  svg {
    width: 1em;
    height: 1em;
    stroke-width: 2.8;
  }
}

.newsletter {
  width: 100% !important;
}

.prose {
  font-size: var(--cmm-font-size-lg);

  img {
    border-radius: var(--cmm-radius-lg);
  }

  table {
    font-size: var(--cmm-font-size-md);
  }

  :global {
    .Message {
      font-size: var(--cmm-font-size-md);
    }
  }
}
