@use "@/styles/variables";

.Block {
  min-height: 16rem;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  background: var(--cmm-color-surface-0);
  border-top: 1px solid var(--cmm-color-border-base);
}

.inner {
  @include variables.container;

  display: grid;
  grid-template-columns: minmax(auto, 12rem) 1fr;
  gap: 2.5rem;

  @include variables.mq("lg") {
    grid-template-columns: 1fr;
  }
}

.description {
  display: grid;
  place-content: start;
  row-gap: 1.25rem;

  &__logo {
    display: flex;
    align-items: center;

    & svg {
      height: 2rem;
      width: auto;
      color: var(--cmm-color-primary-5);
    }
  }
}

.navGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & h2 {
      font-weight: var(--cmm-font-weight-bold);
    }

    & ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    & a {
      color: var(--cmm-color-font-base);
      font-size: var(--cmm-font-size-sm);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include variables.mq("md") {
    grid-template-columns: repeat(2, 1fr);
  }
}

.bottom {
  @include variables.container;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.5rem;

  &__copyright {
    color: var(--cmm-color-font-subtle);
    font-size: var(--cmm-font-size-sm);

    @include variables.mq("md") {
      grid-column: 1 / -1;
    }
  }

  &__nav {
    font-size: var(--cmm-font-size-sm);
    color: var(--cmm-color-font-subtle);

    & ul {
      display: flex;
      column-gap: 1rem;
    }

    & a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__social {
    display: flex;
    translate: calc(0.25rem * -1);

    & li {
      display: grid;
      place-content: center;
    }
  }

  @include variables.mq("md") {
    display: flex;
    flex-wrap: wrap;
  }
}
