@use "@/styles/variables";

.container {
  max-width: 34rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  background: var(--cmm-color-surface-1);
  padding: 1rem;
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-radius-xl);

  @include variables.mq("sm") {
    grid-template-columns: 1fr;
  }
}

.title {
  grid-column: 1 / -1;
  font-size: var(--cmm-font-size-sm);
  font-weight: var(--cmm-font-weight-bold);
  color: var(--cmm-color-primary-emphasis);
  line-height: 1;
  text-transform: uppercase;
}

.subTitle {
  grid-column: 1 / -1;
  color: var(--cmm-color-font-muted);
}
