@use "@/styles/variables";

.Block {
  display: grid;
  row-gap: 3.5rem;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background: linear-gradient(130deg, #ffffff 0%, rgba(230, 237, 255, 0.5) 80%),
    #ffffff;
}
