@use "@/styles/variables";

.container {
  display: grid;
  row-gap: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background: var(--cmm-color-surface-1);
}

.inner {
  @include variables.container();

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;

  @include variables.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 30rem;
}

.description {
  line-height: 1.6;
  color: var(--cmm-color-font-muted);
}

.button {
  --cmm-Button-icon-margin: 0.2rem;
  margin-inline-start: -0.7rem;
  margin-block-start: -0.25rem;
  font-weight: var(--cmm-font-weight-bold);

  svg {
    height: 0.75rem;
    stroke-width: 4;
  }
}
