@use "@/styles/variables";

.inner {
  @include variables.container;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  &.reversed {
    flex-direction: row-reverse;
  }
}

.left {
  flex: 1;
  min-width: min(30rem, 100%);
  max-width: 40rem;

  > * + * {
    margin-top: 2rem;
  }
}

.right {
  width: min(100%, 38rem);
}

.description {
  line-height: 1.6;
  color: var(--cmm-color-font-muted);
}

.list {
  > * + * {
    margin-top: 0.5rem;
  }

  li {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    font-size: var(--cmm-font-size-md);
  }
}

.icon {
  display: grid;
  place-content: center;
  height: 1.5em; // assume text content's line height is 1.5

  svg {
    width: 1.2em;
    height: 1.2em;
    color: var(--cmm-color-primary-emphasis);
  }
}

.button {
  --cmm-Button-icon-margin: 0.2rem;
  margin-inline-start: -0.5rem;
  margin-block-start: 1rem;
  font-weight: var(--cmm-font-weight-bold);
  color: var(--cmm-color-link);

  &:hover {
    background: var(--cmm-color-primary-subtle);
  }

  svg {
    height: 0.75rem;
    stroke-width: 4;
  }
}
