.Block {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  max-width: 28rem;
  padding: 2rem;
  border-radius: var(--cmm-radius-xl);
  border: 1px solid var(--cmm-color-border-base);
  background: var(--cmm-color-surface-0);

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    width: 100%;
  }

  a {
    font-size: var(--cmm-font-size-sm);
    font-weight: var(--cmm-font-weight-semibold);
    color: var(--cmm-color-link);

    &:hover {
      text-decoration: underline;
    }
  }
}

.or {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 0.5rem;
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-muted);
  white-space: nowrap;

  hr {
    width: 100%;
    border-color: var(--cmm-color-border-base);
  }
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 0.75rem;

  &__button {
    border: 1px solid var(--cmm-color-neutral-2);
  }
}

.sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-start;
  font-size: var(--cmm-font-size-sm);
  gap: 0.5em;
  color: var(--cmm-color-font-muted);
}
