@use "@/styles/variables";

.container {
  @include variables.container();

  display: grid;
  grid-template-columns: 1fr 18rem;
  justify-content: center;
  column-gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-right: 1rem;

  @include variables.mq("xl") {
    grid-template-columns: 1fr;
  }
}

.tocWrap {
  @include variables.mq("xl") {
    display: none;
  }
}

.toc {
  position: sticky;
  top: calc(1rem + variables.$headerHeight);
}

.main {
  overflow-x: hidden;
  position: relative;
}

.header {
  padding-top: 1rem;
  display: grid;
  row-gap: 1.25rem;

  .title {
    font-weight: var(--cmm-font-weight-bold);
    font-size: var(--cmm-font-size-4xl);
    line-height: 1.1;
    margin-bottom: 2rem;

    @include variables.mq("lg") {
      font-size: var(--cmm-font-size-4xl);
    }
  }

  .date {
    display: grid;
    row-gap: 0.25rem;

    &__published {
      display: block;
      font-size: var(--cmm-font-size-md);
    }
  }

  .author {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__name {
      font-size: var(--cmm-font-size-md);
      font-weight: var(--cmm-font-weight-medium);
    }
  }
}

.markup {
  :where(h1, h2, h3, h4, h5, h6) {
    scroll-margin-top: calc(variables.$headerHeight + 0.5rem) !important;
  }
}

.aside {
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
